*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}
body{
  background:#fffdf5;
}
header{
  background:#1B5E20;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  box-shadow:0 3px 15px rgba(0,0,0,0.1);
  position:sticky;
  top:0;
  z-index:100;
}
.header2{
  background: #E8F5E9;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 90px;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.header2 nav{
  display: flex;
  justify-content: center;
  text-align: center;
}
.logo-section{
  display:flex;
  align-items:center;
  gap: 10px;
}
.logo img{
  width:80px;
  height:80px;
  border-radius:50%;
}
.logo div{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.logo-section h1{
  color:#f8faf9;
}
.logo-section p{
  color:#e6be3c;
  font-weight:bold;
}
.search{
  display:flex;
}
.search input{
  width:250px;
  padding:12px;
  border:2px solid #faf8f8;
  border-radius:30px 0 0 30px;
  outline:none;
}
.search button{
  padding:12px 20px;
  border:none;
  background:#ffffff;
  color:white;
  border-radius:0 30px 30px 0;
  cursor:pointer;
}
.header-buttons button{
  padding:10px 20px;
  margin-left:10px;
  border:none;
  border-radius: 20px;
  cursor:pointer;
  font-size:16px;
}
.login-btn{
  background:#e6be3c;
  color:#faf8f8;
}
.signin-btn{
  background:#e6be3c;
  color:white;
}
.login-btn:hover,
.signin-btn:hover{
  opacity:0.8;
}
nav a{
  text-align:center;
  text-transform:uppercase;
  text-decoration:none;
  margin:15px;
  color:#1B5E20;
  font-weight:bold;
  transition:0.3s;
}
nav a:hover{
  color:#e6be3c;
}
.hero{
  height:90vh;
  background:
  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url("https://png.pngtree.com/background/20250116/original/pngtree-nature-of-green-leaf-in-garden-at-summer-natural-leaves-plants-picture-image_15594459.jpg");
  background-size:cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}
.hero h1{
  font-size:70px;
}
.hero p{
  width:60%;
  font-size:22px;
  margin:20px;
}
.more{
  font-size: 22px;
  font-weight: bold;
  color: #e6be3c;
  display:flex;
  justify-content:center;
  gap:140px;
  flex-wrap:wrap;
  padding:70px;
}
.product-section{
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}
.section-title{
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #1B5E20;
}
.products{
  display:flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.card{
  position:relative; 
  width:350px;
  background: white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
  transition:0.3s;
}
.card:hover{
  transform:translateY(-8px);
}
.badge{
  position:absolute;
  top:10px;
  left:10px;
  padding:4px 10px;
  color:white;
  font-size:12px;
  border-radius:15px;
}
.orange{background:#f4a000;}
.red{background:#b61d1d;}
.green{background:#1f8f3a;}

.card img{
  width:100%;
  height:400px;
  object-fit:cover;
}
.content{
  padding:15px;
}
.content h2{
  font-size:20px;
  margin:5px 0;
}
.content p{
  font-size:13px;
  color:#555;
}
.tags{
  margin:10px 0;
}
.tags span{
  background:#eee;
  padding:4px 8px;
  font-size:11px;
  border-radius:10px;
  margin-right:5px;
}
.bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:10px;
}
button{
  border:none;
  padding:6px 12px;
  border-radius:15px;
  color:white;
  cursor:pointer;
}
.orange-btn{background:#f4a000;}
.red-btn{background:#b61d1d;}
.green-btn{background:#1f8f3a;}

button:hover{
  opacity:0.9;
}
.about{
  background-color:#1B5E20;
  text-align:center;
  padding:80px;
}
.about h1{
  color:#e6be3c;
  font-size:45px;
  margin-bottom:25px;
}
.about p{
  color: #E8F5E9;
  width:70%;
  margin:auto;
  line-height:35px;
  font-size:20px;
}
.comments {
  background: #f5f2eb;
  padding: 40px;
  text-align: center;
}
.comments h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.comments h2 span {
  color: goldenrod;
}
.comments-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card1 {
  background: white;
  width: 320px;
  height: 220px;
  padding: 15px;
  border-radius: 10px;
}
.stars {
  color: goldenrod;
  margin-bottom: 10px;
}
.card1 p {
  font-size: 16px;
}
.user {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.avatar {
  background: green;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}
.user h4 {
  margin: 0;
  font-size: 14px;
}
.user span {
  font-size: 12px;
  color: gray;
}
.contact{
  background:#a7e7ab;
  color:rgb(0, 0, 0);
  text-align:center;
  padding:70px;
}
.contact p{
  margin:15px;
  font-size:20px;
}
footer{
  background:#126e17;
  color:white;
  text-align:center;
  padding:20px;
}